.login-container {
  background-color: #fae100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 75px;
  gap: 30px;
  width: 100%;
  height: 100%;
}

/* 카톡 로고 */
.login-container img {
  width: 160px;
  height: 160px;
  margin-top: -60px;
}

/* 폼 전체 너비 조정 */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 로그인 입력란 */
.login-input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.login-input-box input {
  flex: 1;
  border: none;
  background-color: inherit;
  color: #000;
  padding: 10px 20px;
  font-size: 15px;
}

.login-input-box input:focus {
  outline: none;
}

/* 에러 메시지 스타일 */
.login-error-message {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  padding-left: 5px;
}

/* 로그인 버튼 */
.error-message {
  color: red;
  font-size: 13px;
}

.login-btn {
  width: 100%;
  background-color: #f5f5f5;
  color: #888;
  border: none;
  padding: 12px 0;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.login-btn.active {
  background-color: #423630;
  color: #fff;
}

.login-container a {
  color: #695f0d;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
}
