.register-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff;
}

.register-container h1 {
  font-size: 40px;
  margin-bottom: 40px;
  color: #000;
}

.register-box {
  width: 80%;
  max-width: 400px;
  padding: 50px 0;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.register-content {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.register-input-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.register-input-box input {
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  color: #000;
}

.register-input-box input:focus {
  outline: none;
}

.register-box p {
  color: red;
  font-size: 13px;
  margin-bottom: 12px;
  text-align: left;
  padding-left: 4px;
}

.button-box {
  margin-top: 50px;
}

.button-box button {
  width: 100%;
  height: 45px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  color: #888;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 10%;
}
