.chat-profile-card {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 10px 0px;
  background-color: #fff;
  height: 75px;
  box-sizing: border-box;
  align-items: center;
  width: 350px;
}

.chat-profile-card img {
  width: 50px;
  border-radius: 10px;
}

.chat-info {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.chat-username {
  font-weight: bold;
}

.chat-status {
  color: #7c7c7c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chat-right {
  display: flex;
  flex-shrink: 0;
  margin-left: 10px;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.chat-button {
  color: #a3a3a3;
  border: none;
}

.chat-button:hover {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.chat-button:focus {
  outline: none;
}

.chat-time {
  height: 100%;
  margin-top: 10px;
  color: #7c7c7c;
  margin-right: 5px;
}
