/* 왼쪽 선 */
.left-line {
  width: 5%;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 2px;
}

/* 메인 화면 */
.content-area {
  flex: 1;
  background-color: #fff;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.content-area p span {
  font-weight: bold;
}

/* 구분선 */
.under-line {
  margin: 15px 0px -5px;
  width: 100%;
  background-color: #f6f6f6;
  height: 3px;
}
