/* 왼쪽 선 */
.left-line {
  width: 5%;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 2px;
}

/* 메인 화면 */
.content-area {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  box-sizing: border-box;
}

.content-area p span {
  font-weight: bold;
}

.chatRoom-list-area {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  /* 스크롤 안보이게 */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* 스크롤 안보이게 */
.chatRoom-list-area::-webkit-scrollbar {
  display: none;
}

/* 구분선 */
.under-line {
  width: 100%;
  background-color: #f6f6f6;
  height: 3px;
}
